.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;

  grid-template-columns: 45vh auto;
}

.scrollable {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
  overflow-y: scroll;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}